* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: inter;
}

a {
    color: #fff;
}

nav {
    width: 100%;
    padding: 1rem 18%;
    background-color: dodgerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding: 2rem 15%;
    background-color: rgb(55, 230, 20);
    display: flex;
}

.container .box {
    width: 300px;
    height: 350px;
    background-color: #fff;
    margin-right: 1rem;
}

ul li {
    display: inline-block;
    margin-right: 1rem;
    list-style: none;
}

ul li a {
    text-decoration: none;
}